#tt {
  .number {
    text-align: right
  }

  .table {
    margin-bottom: 0;
  }

  td {
    vertical-align: middle;
  }

  input.number {
    width: 4em;
  }

  tr.focus {
    background-color: #c9ffc5;
  }
}

/*
.tab-pane {
  border: 1px solid #ddd;
  border-top: none;
}
*/

.nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
}
